<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3 shadow border">
    <div class="container">
      <div class="collapse navbar-collapse d-flex align-items-center justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <span class="navbar-brand font-weight-bolder">Navbar</span>
          <a class="nav-item nav-link    text-primary text-uppercase font-weight-bold">Home</a>
          <a class="nav-item nav-link">all product</a>
          <a class="nav-item nav-link">about us</a>
        </div>
        <button class="btn btn-primary">Login</button>
      </div>
    </div>
  </nav>
</header>
